<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div>
        <form th:object="${user}" th:action="@{saveuser}" action="#" method="post">
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" th:field="*{username}">
            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="email">Email</label>
            <br>
            <input type="text" id="email" th:field="*{email}">
            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="password">Password</label>
            <br>
            <input type="text" id="passwordHash" th:field="*{passwordHash}">
            <div style="clear: both; display: block; height: 10px;"></div>

            <div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
        </form>
        <div style="clear: both; display: block; height: 10px;"></div>
        <a href="/roomlist"  class="btn btn-info">Rooms</a> 
    </div>
</body>
</html>